<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="header"> Language Fort </header>
    <section>
        <nav class="nav">
            <div class="menu">
                <a href="index.html" >Home</a>
                <a href="page2.html" >C#</a>
                <a href="page3.html" class="active">Python</a>
                <a href="page4.html" >SQL</a>
                <a href="page5.html" >HTML</a>
                <a href="page6.html" >CSS</a>
                <a href="page7.html" >Ruby</a>
                <a href="page8.html" >Lua</a>
                <a href="page9.html" >C</a>
                <a href="page10.html" >C++</a>
                <a href="page11.html" >Java</a>
            </div>
        </nav>
        <nav class="nav2"> 
            <img src="giphy2.gif" width="100%" height="550px">
        </nav>

        <article class="article"> Python is a high-level, interpreted, general-purpose 
            programming language. Its design philosophy emphasizes code readability 
            with the use of significant indentation.

            Python is dynamically-typed and garbage-collected. It supports multiple 
            programming paradigms, including structured (particularly procedural), 
            object-oriented and functional programming. It is often described as a 
            "batteries included" language due to its comprehensive standard library.
            
            Guido van Rossum began working on Python in the late 1980s as a successor
             to the ABC programming language and first released it in 1991 as Python 
             0.9.0. Python 2.0 was released in 2000 and introduced new features 
             such as list comprehensions, cycle-detecting garbage collection, reference
              counting, and Unicode support. Python 3.0, released in 2008, was a major 
              revision that is not completely backward-compatible with earlier versions.
               Python 2 was discontinued with version 2.7.18 in 2020. </article>
    </section>
    <footer class="footer"> Copyright © Cenk Akyol 2022 </footer>
    
</body>
</html>