<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="header"> Language Fort </header>
    <section>
        <nav class="nav">
            <div class="menu">
                <a href="index.html" >Home</a>
                <a href="page2.html" >C#</a>
                <a href="page3.html" >Python</a>
                <a href="page4.html" >SQL</a>
                <a href="page5.html" >HTML</a>
                <a href="page6.html" class="active">CSS</a>
                <a href="page7.html" >Ruby</a>
                <a href="page8.html" >Lua</a>
                <a href="page9.html" >C</a>
                <a href="page10.html" >C++</a>
                <a href="page11.html" >Java</a>
            </div>
        </nav>
        <nav class="nav2"> 
            <img src="IrF.gif" width="100%" height="550px">
        </nav>

        <article class="article"> Cascading Style Sheets (CSS) is a style sheet
             language used for describing the presentation of a document written
              in a markup language such as HTML.[1] CSS is a cornerstone technology
               of the World Wide Web, alongside HTML and JavaScript.

            CSS is designed to enable the separation of presentation and content,
             including layout, colors, and fonts.[3] This separation can improve 
             content accessibility; provide more flexibility and control in the 
             specification of presentation characteristics; enable multiple web 
             pages to share formatting by specifying the relevant CSS in a separate
              .css file, which reduces complexity and repetition in the structural 
              content; and enable the .css file to be cached to improve the page load
               speed between the pages that share the file and its formatting. 
        </article>
    </section>
    <footer class="footer"> Copyright © Cenk Akyol 2022 </footer>
    
</body>
</html>