<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="header"> Language Fort </header>
    <section>
        <nav class="nav">
            <div class="menu">
                <a href="index.html" >Home</a>
                <a href="page2.html" >C#</a>
                <a href="page3.html" >Python</a>
                <a href="page4.html" class="active">SQL</a>
                <a href="page5.html" >HTML</a>
                <a href="page6.html" >CSS</a>
                <a href="page7.html" >Ruby</a>
                <a href="page8.html" >Lua</a>
                <a href="page9.html" >C</a>
                <a href="page10.html" >C++</a>
                <a href="page11.html" >Java</a>
            </div>
        </nav>
        <nav class="nav2"> 
            <img src="giphy.gif" width="100%" height="550px">
        </nav>

        <article class="article"> SQL(Structured Query Language) is a domain-specific
             language used in programming and designed for managing data held in a 
             relational database management system (RDBMS), or for stream processing
              in a relational data stream management system (RDSMS). It is particularly
               useful in handling structured data, i.e. data incorporating relations 
               among entities and variables. SQL offers two main advantages over older 
               read–write APIs such as ISAM or VSAM. Firstly, it introduced the concept 
               of accessing many records with one single command. Secondly, it eliminates
                the need to specify how to reach a record, e.g. with or without an index.</article>
    </section>
    <footer class="footer"> Copyright © Cenk Akyol 2022 </footer>
    
</body>
</html>